/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #555;
  overflow: hidden;
}

.container {
  /* max-width: 130rem; */
  /* margin: 0 auto; */
  height: 100vh;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 6.4rem;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(208, 235, 255, 0.3),
      rgba(24, 100, 171, 0.3)
    ),
    url("../img/examination-picture-1.jpg");
  background-size: cover;
  background-position: center;
}

.cta-sign-up {
  /* top / right / bottom / left */
  display: flex;
  margin-bottom: 4.8rem;
  gap: 1.6rem;
  align-items: center;
  justify-content: flex-end;
  padding: 3.2rem 3.2rem 4.8rem 0;
}

.paragraph-cta {
  font-size: 1.6rem;
  line-height: 1.5;
  color: rgba(127, 143, 164, 1);
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
  color: #228be6;
}

.btn:hover,
.btn:active {
  color: #228be6;
}

.btn-sign-up:link,
.btn-sign-up:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  border: 1px solid #339af0;
}

.btn-sign-up:hover,
.btn-sign-up:active {
  background-color: #228be6;
  color: #fff;
}

.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}

.cta-header {
  line-height: 1;
  font-size: 2.4rem;
  font-weight: 600;
  color: #228be6;
}

.cta-flex {
  display: flex;
  justify-content: space-between;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 2rem;
}

.cta-form label {
  color: rgba(127, 143, 164, 1);
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.btn-password:link,
.btn-password:visited {
  font-size: 1.4rem !important;
}

.btn-password:hover,
.btn-password:active {
  text-decoration: underline;
}

.cta-form input,
.cta-form select {
  width: 55rem;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: #222 v;
  border: 1px solid rgba(127, 143, 164, 0.913);
  background-color: #fff;
  border-radius: 4px;
}

.cta-form-1 {
  margin-bottom: 4.8rem;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0.5px 1px #333;
}

.btn-login {
  padding: 1.4rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #339af0;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transform: all 0.3s;
}

.btn-login:hover {
  background-color: #228be6;
}

footer {
  margin-top: 0rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

/* /* SIGNUP.HTML  */

.headerr {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 6.4rem;
  margin: 0 auto;
  box-shadow: 0 0px 1px #339af0;
  border-radius: 4px;
}

.home {
  margin-right: 4.8rem;
  margin-left: 6.4rem;
}

.nav {
  margin-top: 3.6rem;
}

.nav-img {
  /* margin-top: 1.2rem; */
  margin-left: 1.2rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-divider {
  /* border: 1px solid #222; */
  margin-top: 2.4rem;
  padding: 1rem 2rem;
  box-shadow: 0 0px 1px #339af0;
}

.sign-form {
  /* margin-top: 20rem; */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 2rem;
}

.sign-form label {
  color: rgba(127, 143, 164, 1);
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.sign-form input,
.sign-form select {
  width: 55rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: #222 v;
  border: 1px solid rgba(127, 143, 164, 0.913);
  background-color: #fff;
  border-radius: 4px;
}

.sign-form *:focus {
  outline: none;
  box-shadow: 0 0.5px 1px #333;
}

.btn-signup {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #339af0;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transform: all 0.3s;
}

.btn-signup:hover {
  background-color: #228be6;
}

.signup-paragraph {
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
  color: #339af0;
}

.icon {
  color: #339af0;
  /* size: 4rem; */
  width: 10rem;
  height: 10rem;
}

.ico-p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3.5rem;
}

.logo-link {
  width: 30rem;
  cursor: pointer;
  /* padding: 1rem 1rem; */
}
