<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/logo-prompt-test.png" />
    <title>Prompt-test — Test yourself?</title>
  </head>
  <body>
    <div class="container grid">
      <div class="header">
        <div class="header-img-box" role="img" aria-label=""></div>
      </div>

      <div class="section-cta">
        <div class="cta-sign-up">
          <p class="paragraph-cta">Don't have an account yet?</p>
          <a href="#" class="btn btn-sign-up">Sign Up</a>
        </div>
        <div class="cta">
          <h2 class="cta-header">SIgn In to your account</h2>
          <form class="cta-form" action="#">
            <div>
              <label class="email">E-mail address</label>
              <input
                id="email"
                type="text"
                placeholder="me@example.com"
                required
              />
            </div>
            <div>
              <div class="cta-flex">
                <label for="email">Password</label>
                <a class="btn btn-password" href="#">Forgot password?</a>
              </div>
              <input
                id="password"
                type="text"
                placeholder="password"
                required
              />
            </div>
          </form>
          <button class="btn-login">SIGN IN</button>

          <footer>
            <p class="copyright">
              Copyright &copy; 2022 by Prompt-test, Inc. All rights reserved.
            </p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>